.wireframe-1,
.wireframe-1 * {
  box-sizing: border-box;
}
.wireframe-1 {
  background: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.footer {
  background: var(--ls-bg, #d9d9d9);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-shrink: 0;
  width: 1375px;
  position: absolute;
  left: 0px;
  top: 944px;
}
._2025-veri-code-all-rights-reserved {
  color: var(--lsblack, #000000);
  text-align: center;
  font-family: var(--headings-h6-font-family, "InriaSerif-Regular", sans-serif);
  font-size: var(--headings-h6-font-size, 16px);
  line-height: var(--headings-h6-line-height, 24px);
  font-weight: var(--headings-h6-font-weight, 400);
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 28px;
}
.header {
  flex-shrink: 0;
  width: 1375px;
  height: 80px;
  position: static;
}
.header-frame {
  background: var(--ls-gray, #808080);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 1375px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-1 {
  background: #d9d9d9;
  flex: 1;
  height: 80px;
  position: relative;
}
.header-group {
  width: 284px;
  height: 64px;
  position: static;
}
.veri-code {
  color: var(--ls-primary, #ff0000);
  text-align: left;
  font-family: var(--string, "InriaSerif-Bold", sans-serif);
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 617px;
  top: 11px;
  width: 152px;
}
.a-play-on-verizon-and-code-verification {
  color: var(--lsblack, #000000);
  text-align: center;
  font-family: var(--headings-h6-font-family, "InriaSerif-Regular", sans-serif);
  font-size: var(--headings-h6-font-size, 16px);
  line-height: var(--headings-h6-line-height, 24px);
  font-weight: var(--headings-h6-font-weight, 400);
  position: absolute;
  left: 546px;
  top: 51px;
}
.form {
  border-style: dashed;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-shrink: 0;
  width: 1375px;
  height: 237px;
  position: absolute;
  left: 0px;
  top: 80px;
}
.drop-down {
  flex-shrink: 0;
  width: 237px;
  height: 42px;
  position: static;
}
.rectangle-5 {
  background: var(--ls-white, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 237px;
  height: 42px;
  position: absolute;
  left: calc(50% - 525.5px);
  top: 185px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.mdi-arrow-down-drop {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 367px;
  top: 190px;
  overflow: visible;
  aspect-ratio: 1;
}
.select-llm-s {
  color: #000000;
  text-align: left;
  font-family: var(
    --subtitle-subtitle-small-font-family,
    "InriaSerif-Bold",
    sans-serif
  );
  font-size: var(--subtitle-subtitle-small-font-size, 16px);
  line-height: var(--subtitle-subtitle-small-line-height, 24px);
  font-weight: var(--subtitle-subtitle-small-font-weight, 700);
  opacity: 0.5;
  position: absolute;
  left: 219px;
  top: 195px;
}
.primary-button {
  flex-shrink: 0;
  width: 780px;
  height: 42px;
  position: static;
}
.rectangle-6 {
  background: var(--ls-primary, #ff0000);
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 780px;
  height: 42px;
  position: absolute;
  left: calc(50% - 253.5px);
  top: 185px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.verify {
  color: var(--lsblack, #000000);
  text-align: left;
  font-family: var(
    --button-primary-button-font-family,
    "InriaSerif-Bold",
    sans-serif
  );
  font-size: var(--button-primary-button-font-size, 16px);
  line-height: var(--button-primary-button-line-height, 24px);
  font-weight: var(--button-primary-button-font-weight, 700);
  position: absolute;
  left: 802px;
  top: 194px;
}
.text-area {
  flex-shrink: 0;
  width: 1052px;
  height: 145px;
  position: static;
}
.rectangle-4 {
  background: var(--ls-white, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1052px;
  height: 145px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.past-the-code {
  color: #000000;
  text-align: left;
  font-family: var(
    --subtitle-subtitle-small-font-family,
    "InriaSerif-Bold",
    sans-serif
  );
  font-size: var(--subtitle-subtitle-small-font-size, 16px);
  line-height: var(--subtitle-subtitle-small-line-height, 24px);
  font-weight: var(--subtitle-subtitle-small-font-weight, 700);
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 487.5px);
  top: 81px;
}
.additional-control {
  flex-shrink: 0;
  width: 1375px;
  height: 47px;
  position: static;
}
.additional-control-frame {
  background: var(--ls-white, #ffffff);
  width: 1375px;
  height: 47px;
  position: absolute;
  left: 0px;
  top: 317px;
}
.merge-control {
  width: 528.85px;
  height: 42px;
  position: static;
}
.drop-down2 {
  width: 309.47px;
  height: 42px;
  position: static;
}
.rectangle-52 {
  background: var(--ls-white, #ffffff);
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 309.47px;
  height: 42px;
  position: absolute;
  left: calc(50% - -345.38px);
  top: 322px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.mdi-arrow-down-drop2 {
  width: 36.57px;
  height: 36.57px;
  position: absolute;
  left: 1303.18px;
  top: 324.72px;
  overflow: visible;
  aspect-ratio: 1;
}
.select-llm-s2 {
  color: var(--ls-white, #ffffff);
  text-align: left;
  font-family: var(
    --subtitle-subtitle-small-font-family,
    "InriaSerif-Bold",
    sans-serif
  );
  font-size: var(--subtitle-subtitle-small-font-size, 16px);
  line-height: var(--subtitle-subtitle-small-line-height, 24px);
  font-weight: var(--subtitle-subtitle-small-font-weight, 700);
  opacity: 0.5;
  position: absolute;
  left: 1107.31px;
  top: 332px;
  width: 118.83px;
}
.merge-the-result-with {
  color: var(--lsblack, #000000);
  text-align: left;
  font-family: var(
    --subtitle-subtitle-small-font-family,
    "InriaSerif-Bold",
    sans-serif
  );
  font-size: var(--subtitle-subtitle-small-font-size, 16px);
  line-height: var(--subtitle-subtitle-small-line-height, 24px);
  font-weight: var(--subtitle-subtitle-small-font-weight, 700);
  position: absolute;
  left: calc(50% - -126.01px);
  top: 329px;
  width: 219.37px;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1375px;
  height: 578px;
  position: absolute;
  left: 0px;
  top: 366px;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.result-container {
  background: var(--ls-white, #ffffff);
  flex: 1;
  height: 578px;
  position: relative;
}
.cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 508px;
  position: absolute;
  left: 0px;
  top: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card {
  background: var(--ls-white, #ffffff);
  border-radius: 20px;
  flex-shrink: 0;
  width: 506px;
  height: 547px;
  position: absolute;
  left: 1px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cart-group {
  flex-shrink: 0;
  width: 508px;
  height: 547px;
  position: static;
}
.card-header {
  background: #d9d9d9;
  border-radius: 30px 30px 0px 0px;
  width: 506px;
  height: 42px;
  position: absolute;
  left: 2px;
  top: 0px;
}
.open-ai-result {
  color: #000000;
  text-align: left;
  font-family: var(
    --subtitle-subtitle-large-font-family,
    "InriaSerif-Bold",
    sans-serif
  );
  font-size: var(--subtitle-subtitle-large-font-size, 18px);
  line-height: var(--subtitle-subtitle-large-line-height, 28px);
  font-weight: var(--subtitle-subtitle-large-font-weight, 700);
  position: absolute;
  left: 188px;
  top: 7px;
  width: 134px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-8 {
  background: var(--ls-white, #ffffff);
  border-radius: 0px 0px 30px 30px;
  width: 508px;
  height: 505px;
  position: absolute;
  left: 0px;
  top: 42px;
}
.cards2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 508px;
  position: absolute;
  left: 526px;
  top: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.lamma-result {
  color: #000000;
  text-align: left;
  font-family: var(
    --subtitle-subtitle-large-font-family,
    "InriaSerif-Bold",
    sans-serif
  );
  font-size: var(--subtitle-subtitle-large-font-size, 18px);
  line-height: var(--subtitle-subtitle-large-line-height, 28px);
  font-weight: var(--subtitle-subtitle-large-font-weight, 700);
  position: absolute;
  left: 188px;
  top: 7px;
  width: 134px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cards3 {
  flex-shrink: 0;
  width: 508px;
  height: 547px;
  position: static;
}
.card2 {
  background: var(--ls-white, #ffffff);
  border-radius: 20px;
  width: 506px;
  height: 547px;
  position: absolute;
  left: 1050px;
  top: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cart-group2 {
  width: 508px;
  height: 547px;
  position: static;
}
.card-header2 {
  background: #d9d9d9;
  border-radius: 30px 30px 0px 0px;
  width: 506px;
  height: 42px;
  position: absolute;
  left: 1051px;
  top: 14px;
}
.mistral-result {
  color: #000000;
  text-align: left;
  font-family: var(
    --subtitle-subtitle-large-font-family,
    "InriaSerif-Bold",
    sans-serif
  );
  font-size: var(--subtitle-subtitle-large-font-size, 18px);
  line-height: var(--subtitle-subtitle-large-line-height, 28px);
  font-weight: var(--subtitle-subtitle-large-font-weight, 700);
  position: absolute;
  left: 1237px;
  top: 21px;
  width: 134px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-82 {
  background: var(--ls-white, #ffffff);
  border-radius: 0px 0px 30px 30px;
  width: 508px;
  height: 505px;
  position: absolute;
  left: 1049px;
  top: 56px;
}
